// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');


 body{
    background-color: #ebeff5;
    scroll-behavior: smooth;
 }

 .v-application--wrap {
   background-color: #fff;
 }

 .v-main__wrap {
   margin-top: 30px;
 }

/**Midia query */
@media (min-width: 1264px){
   .container {
       max-width: 1595px !important;
   }
}
